@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --scissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --paperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --rockGradient: linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
    --lizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);

    --mobile: 375px;
    --desktop: 1366px;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: hsl(214, 47%, 23%);
    background: -moz-radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    background: -webkit-radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--headerOutline);
    border-radius: 8px;
    padding: 10px;
}

.top .logo img {
    max-width: 60%;
}

.score {
    background-color: #fff;
    color: var(--darkText);
    border-radius: 8px;
    padding: 15px;
    text-transform: uppercase;
}
.score p {
    color: var(--scoreText);
}
.score h2 {
    font-size: 2rem;
    text-align: center;
}
.rules-block {
   display: flex;
   width: 80%;
   justify-content: center;
}
.rules {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 30px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}
.rules-block button {
    cursor: pointer;
    outline: none;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.modal {
  display: none; 
  position: fixed;
  background-color: #fff;
  color: var(--darkText);
  padding: 2rem;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}
.modal button {
    border: none;
}

.game__board {
    background-image: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 4rem 0;
}

.buttons-block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.button-block {
    align-items: center;
    padding: 20px;
}

.paper,
.rock {
    text-align: center;
    padding: 20px;
}
.scissors {
    text-align: center;
    justify-self: center;
    padding: 20px;
}

.button-main {
    background-color: #fff;
    border-radius: 100px;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paper .button-main {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0px 4px 0px  #2946c0;
}
.scissors .button-main {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 4px 0px  #c76c1c;
}

.rock .button-main {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0px 4px 0px  #9d1633;
}
 .button-main img {
    width: 40px;
}

.button-paper,
.button-scissors, 
.button-rock  {
    background-color: #fff;
    padding: 40px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 0em 0.3em #b9bed2;
}

.game__result {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    padding: 4rem 0;
    min-height: 50vh;
}
.results-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.results-block h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}
.results-block button {
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}
.results-block button:hover {
    color: red;
}
.results-block .user,
.results-block .comp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.results-block .comp .comp-choice .preview {
    background-color: #172741;
    border-radius: 200px;
    width: 100px;
    height: 100px;
    margin: 45px 0;
}
.results-block .button-main {
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
.results-block .button-main a {
    width: 100px;
    height: 100px;
    border-radius: 200px;
}
.results-block .button-main a img {
    width: 40px;
}

.results-block .show-result {
    display: none;
    flex-direction: column;
}
.attribution {
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
}
.attribution a {
    color: #fff;
    text-decoration: none;
}

/* Winner Effect */
.results-block .user-choice,
.results-block .comp-choice {
    position: relative;
    z-index: 0;
}
.winner {
    justify-content: center;
}
.winner-wrapper {
  position: absolute;
  top: 10px;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  background-color: hsl(237, 49%, 15%);
  z-index: -1;
}

.winner-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: hsl(237, 49%, 15%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.winner-wave1 {
  animation: winnerEffect 2s linear infinite;
}
.winner-wave2 {
  animation: winnerEffect 2s 0.5s linear infinite;
}
.winner-wave3 {
  animation: winnerEffect 2s 1s linear infinite;
}
.winner-wave4 {
  animation: winnerEffect 2s 1.5s linear infinite;
}

@keyframes winnerEffect {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}


/* DESKTOP */

@media(min-width: 600px) {
    body {
        padding: 0;
        overflow: hidden;
    }
    .top {
        border-radius: 10px;
        padding: 20px 30px;
    }

    .top .logo img {
        max-width: 100%;
    }
    .score {
        border-radius: 10px;
        padding: 15px 30px;
    }
    .score h2 {
        font-size: 2rem;
    }
    .game {
        width: var(--desktop);
        width: 1000px;
         padding: 15px;
    }
    .game__board {
        background-size: auto;
    }
    .button-main {

        padding: 20px;
        width: 180px;
        height: 180px;
    }
    .button-paper,
    .button-scissors, 
    .button-rock  { 
        width: 140px;
        height: 140px;
        box-shadow: inset 0em 0.5em #b9bed2;
    }
    .button-main img {
        width: auto;
    }
    .paper .button-main {
        box-shadow: 0px 7px 0px  #2946c0;
    }
    .scissors .button-main {
        box-shadow: 0px 7px 0px  #c76c1c;
    }
    .rock .button-main {
        box-shadow: 0px 7px 0px  #9d1633;
    }
    .rules-block {
        justify-content: flex-end;
    }

    .results-block .user,
    .results-block .comp {
        display: flex;
        flex-direction: column;
    }
    .results-block h2 {
        font-size: 2rem;
    }

    .results-block .comp .comp-choice .preview {
        
        width: 200px;
        height: 200px;
        margin: 45px 0;
    }
    .results-block .button-main {
        width: 250px;
        height: 250px;
        border-radius: 200px;
    }
    .results-block .button-main a {
        width: 180px;
        height: 180px;
        border-radius: 200px;
    }
    .results-block .button-main a img {
        width: 80px;
    }

    .winner-wrapper {
        top: 70px;
        width: 160px;
        height: 160px;
    }

    .attribution {
        padding: 2rem 0;
    }
}